/*------------------------------------*\
    #PAGE
\*------------------------------------*/

/**
 * Page-level styling (e.g. HTML and BODY elements).
 */

html {
    font-size: $global-font-size; 
    background-color: $color-page-bg;
    color: $color-page-text;
}

body {
    font-size: $font-size-default;
    font-weight: $font-weight-normal;
    font-family: $font-family-global;
}

